.ubuntu-light {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .ubuntu-medium {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

h1{
  font-family: ubuntu-medium;
}

h2{
    font-family: unbuntu-regular;
}

p{
    font-family: unbuntu-light;
}

body{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 30px;
  max-width: 100%;
}

.big{
  grid-column: 1/ span 8;
}

.seventeen{
  grid-column: 9/ span 2;
}

.nineteen{
  grid-column: 9/ span 2;
}

.eighteen{
  grid-column: 11/ span 2;
}

.twenty{
  grid-column: 11/ span 2;
}

